<nav>
<ul>
    <li>Hello</li>
    <li><a href="/auth/login">Login</a></li>
    <li><a href="/auth/register">Register</a></li>
    <li><a href=""> Logout</a></li>
</ul>
</nav>
{{#if message}}
    <div>
       <p> {{message}}</p>
    </div>
    <style>

    </style>
{{else}}
    <div class="alert alert-light" role="alert">
        <br/>
    </div>
{{/if}}
