<section id="login-page">
    <form method="post">
        <h3>Login user</h3>
        <div class="section">
            <label for="user-name-login">User name</label>
            <input type="text" id="user-name-login" name="username">
        </div>
        <div class="section">
            <label for="password-login">Password</label>
            <input type="password" id="password-login" name="password">
        </div>
        <button type="submit">Login</button>
    </form>
</section>
