<section id="register-page">
    <form method="post">
        <h3>Register user</h3>
        <div class="section">
            <label for="user-name-register">User name</label>
            <input type="text" id="user-name-register" name="username">
        </div>
        <div class="section">
            <label for="email-register">Email</label>
            <input type="email" id="email-register" name="email">
        </div>
        <div class="section">
            <label for="password-register">Password</label>
            <input type="password" id="password-register" name="password">
        </div>
        <div class="section">
            <label for="repeat-password-register">Repeat Password</label>
            <input type="password" id="repeat-password-register" name="repeatPassword">

        </div>
        <div class="button-container">
        <button type="submit">Register</button>
        </div>
    </form>
</section>
